<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Sentiment Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1> Twitter Sentiment Analyzer</h1>
        <form method="post">
            <input type="text" name="tweet" class="form-control" placeholder="Enter tweet text..." required>
            <button type="submit" class="btn btn-lg btn-block">Analyze Sentiment</button>
        </form>
        {% if sentiment %}
            <p class="{{sentiment_class}}">{{ sentiment }}</p>
        {% endif %}
    </div>
</body>
</html>
